.body {
    -fx-background-color: linear-gradient(to right bottom, #3fc69f, #830c58);
}

.loginHeader {
    -fx-background-color: #898989;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 15px;
    -fx-padding: 3px;
}

.hyperlink {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #696969 ;
    -fx-background-radius: 50px;
    -fx-padding: 3px;
}

.button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #696969;
    -fx-background-radius: 15px;
    -fx-padding: 3px;
}